.hide-start-btn {
  display: none;
}

.question {
  font-size: 20px;
}

.answers {
  position: relative;
  opacity: 1;
  top: 2px;
  left: 10px;
  width: 27px;
  height: 27px;
}

label {
  font-size: 22px;
  margin-left: 22px;
  cursor: pointer;
}

.answers-div {
  width: 100%;
  background-color: rgba(106, 81, 122, 0.336);
  transform: translateX(-40px);
}

.answers-div:hover {
  background-color: rgba(106, 81, 122, 0.712);
  transition: all .2s linear;
}