.menuToggle {
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: 1;
  user-select: none;
}

.hamburger-input {
  position: absolute;
  top: -5px;
  left: -4px;
  width: 35px;
  height: 31px;
  cursor: pointer;
  opacity: 0; /* gömer den */
  z-index: 2; /*placerar den på hamburger button */
}

.hamburger-input:focus {
  opacity: .3;
}

span {
  transform: translate(2px, 2px);

  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #8F0081;
  border-radius: 3px;
  z-index: 1;
  left: -5%;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

/* Transformerar alla hamburger spans som är på varandra till ett kross, alltså ett "X" */
.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(5px, -1px);
  background-color: #8F0081;
}

/* Här gömmer vi den span som är i mitten, så vi kan göra ett "X" */
.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Sista span ska gå andra sidan så det ser ut som ett "X" */
.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 6px);
}

/* Här vi gör så att vårt <ul> slidar in från vänstra sidan */
.menuToggle input:checked ~ ul {
  transform: none;
  /* display: block; */
  opacity: .9;
  visibility: visible;
}

/* Vi placerar .menu som är vår <ul> längst upp till vänstra hörnet */
.menu {
  position: absolute;
  top: -20px;
  left: -10px;
  visibility: hidden;
  width: 170px;
  padding: 50px;
  height: 510px;
  background-color: #ededed;
  list-style-type: none;
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  box-shadow: 54px 0px 39px 29px rgba(0,0,0,0.75);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


.menu li
{
  padding: 10px 0;
}

.notClicked {
  display: none;
}

ul li {
  cursor: pointer;
}