#menuToggle {
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: 1;
  user-select: none;
}

input {
  position: absolute;
  top: -5px;
  left: -4px;
  width: 35px;
  height: 31px;
  cursor: pointer;
  opacity: 0; /* gömer den */
  z-index: 2; /*placerar den på hamburger button */
  /* -webkit-touch-callout: none; */
}

input:focus {
  opacity: .3;
}

span {
  transform: translate(2px, 2px);

  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;
  left: -5%;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

/* Transform all the slices of hamburger into a crossmark. */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(5px, -1px);
  background: #232323;
}

/* But let's hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Ohyeah and the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, 6px);
}

/* And let's slide it in from the left */
#menuToggle input:checked ~ ul
{
  transform: none;
  /* display: block; */
  opacity: .9;
  visibility: visible;
}

/* Make this absolute positioned at the top left of the screen */
.menu
{
  position: absolute;
  top: -20px;
  left: -10px;
  /* opacity: 0; */
  visibility: hidden;
  width: 170px;
  padding: 50px;
  height: 513px;
  background-color: #ededed;
  list-style-type: none;
  /* -webkit-font-smoothing: antialiased; */
  /* to stop flickering of text in safari */
  /* display: none; */
  /* transform-origin: 0% 0%; */
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menu li
{
  padding: 10px 0;
  font-size: 22px;
  /* opacity: 1; */
  display: block;
}

/* Stats och About! */
.clickedAbout {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: 1px red solid;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
  display: block;
}

.clickedStats {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: 1px red solid;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
  display: block;
}

.notClicked {
  display: none;
}

ul li {
  cursor: pointer;
}