body{
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  background: #232323;
}


/* header{
  border-bottom: 1px solid grey;
} */

/* The device with borders */
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The screen (or content) of the device */
.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}

header {
  border-bottom: 1px solid;
  padding: 5% 0px;
  /* background-color: red; */
}

h1 {
  text-align: center;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid; */
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

main {
  position: relative;
  height: 87.5%;
}

/* .CenterButton{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
  border-radius: 5px;
  outline: none;
} */